nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline-block;
    float: none;
    width: 33%;
}
nav.nav-center ul li:hover {
    background-color: rgba(0,0,0,0.1)
}
nav.nav-center ul li a {
    display: inline-block;
    width: 100%;
}
nav.nav-center ul li a:hover {
    background-color: rgba(0,0,0,0)
}