.search-bar-container {
    width: calc(100% - 20px);
}

.search-input-container {
    position: relative;
}


.clear-button, .clear-button:active, .clear-button:focus {
    background: transparent;
    outline: none;
    font-weight: 600;
    color: #999;
    margin-top: 20px;
}

.autocomplete-container {
    clear: both;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 2px 2px;
}

.suggestion-item, .suggestion-item--active {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
}

.suggestion-item--active {
    background-color: #fafafa;
}

.dropdown-footer {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
}

.dropdown-footer-image {
    display: inline-block;
    width: 150px;
}